## ================= Left Half =================
if SHIELD_HILLSIDE52_LEFT

config ZMK_KEYBOARD_NAME
    default "Hillside52"

endif


## ================= Right Half =================
if SHIELD_HILLSIDE52_RIGHT

# Right half = peripheral
config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif


## ================= Both Halves =================
if SHIELD_HILLSIDE52_LEFT || SHIELD_HILLSIDE52_RIGHT

# Enable USB drivers
config USB
    default y
# Enable ZMK as a USB keyboard
config ZMK_USB
    default y

# Enable Bluetooth
config BT
    default y
# Enable ZMK as a Bluetooth keyboard
config ZMK_BLE
    default y

# Enable split keyboard support
config ZMK_SPLIT
    default y
# BLE split enabled
config ZMK_SPLIT_BLE
    default y
# Wired split enabled
config ZMK_SPLIT_WIRED
    default y
config ZMK_SPLIT_WIRED_UART_MODE_INTERRUPT
    default y

# External power / battery
config ZMK_EXT_POWER
    default y

# Keyboard scan debounce defaults
config ZMK_KSCAN_DEBOUNCE_PRESS_MS
    default -1
config ZMK_KSCAN_DEBOUNCE_RELEASE_MS
    default -1


endif