/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Hillside52 Left Half - Upside-down Nice!Nano
 * 4 rows x 6 cols
 */

#include "hillside52.dtsi"

/ {
    chosen {
        zmk,physical_layout = &kscan0;
    };
};

&kscan0 {
    col-gpios 
        = <&pro_micro 19 GPIO_ACTIVE_HIGH>  // col0 in schematic
            , <&pro_micro 18 GPIO_ACTIVE_HIGH>  // col1
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>  // col2
            , <&pro_micro 14 GPIO_ACTIVE_HIGH>  // col3
            , <&pro_micro 16 GPIO_ACTIVE_HIGH>  // col4
            , <&pro_micro 10 GPIO_ACTIVE_HIGH>  // col5
            ;
};
