#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY_L 0
#define NAV_L    1
#define SYM_L    2
#define ADJ_L    3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            //                       ╭──────────────────────╮
            //                       │ DEFAULT / BASE LAYER │
            //                       ╰──────────────────────╯
            // ╭───────────────────────────╮         ╭───────────────────────────╮
            // │TAB  q   w   e   r   t     │         │     y   u   i   o   p BSPC│
            // │ `   a   s   d   f   g     ╰─╮     ╭─╯     h   j   k   l   ;   ' │
            // │[+]  z‌   x‌   c‌   v‌   b‌  CTR  ╰─╮ ╭─╯  [+]  n   m   ,   .   /  [+]│
            // | 🕨  🕩  🕪  ╭─╮ WIN ALT LS^ ADJ│ │ENT SPC CTR WIN ╭─╮ HME END ENT│
            // ╰────────────╯ ╰────────────────╯ ╰────────────────╯ ╰────────────╯
            display-name = "QWERTY Layer";
            bindings = <
                &kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P &kp BSPC
                &gresc  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SEMI  &kp SQT
                &none  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH  &kp PG_UP
                &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp HOME  &kp END  &kp PG_DN
                &kp LGUI  &kp LALT  &sk LSHIFT  &sl ADJ_L  &kp LCTRL  &none  &kp ENTER  &kp SPACE  &kp  RCTRL  &kp RGUI
            >;
        };


        nav_layer {
            //                        ╭──────────────────╮
            //                        │ NAVIGATION LAYER │
            //                        ╰──────────────────╯
            // ╭───────────────────────────╮         ╭───────────────────────────╮
            // │___ ___ ___ ___ ___ ___    │         │    ___ ___ ___ ___ ___ ___│
            // │___ ___ ___ ___ ___ ___    ╰─╮     ╭─╯    ___ ___ ___ ___ ___ ___│
            // │___ ___ ___ ___ ___ ___ ___  ╰─╮ ╭─╯  ___ ___ ___ ___ ___ ___ ___│
            // |___ ___ ___ ╭─╮ ___ ___ ___ ___│ │___ ___ ___ ___ ╭─╮ ___ ___ ___│
            // ╰────────────╯ ╰────────────────╯ ╰────────────────╯ ╰────────────╯
            display-name = "Navigation Layer";
            bindings = <
                &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none
            >;
        };

        symbol_layer {
            //                          ╭──────────────╮
            //                          │ SYMBOL LAYER │
            //                          ╰──────────────╯
            // ╭───────────────────────────╮         ╭───────────────────────────╮
            // │___ ___ ___ ___ ___ ___    │         │    ___ ___ ___ ___ ___ ___│
            // │___ ___ ___ ___ ___ ___    ╰─╮     ╭─╯    ___ ___ ___ ___ ___ ___│
            // │___ ___ ___ ___ ___ ___ ___  ╰─╮ ╭─╯  ___ ___ ___ ___ ___ ___ ___│
            // |___ ___ ___ ╭─╮ ___ ___ ___ ___│ │___ ___ ___ ___ ╭─╮ ___ ___ ___│
            // ╰────────────╯ ╰────────────────╯ ╰────────────────╯ ╰────────────╯
            display-name = "Symbol Layer";
            bindings = <
                &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none
            >;
        };

        adjust_layer {
            //                          ╭──────────────╮
            //                          │ ADJUST LAYER │
            //                          ╰──────────────╯
            // ╭───────────────────────────╮         ╭───────────────────────────╮
            // │___ ___ ___ ___ ___ ___    │         │    ___ ___ ___ ___ ___ ___│
            // │___ ___ ___ ___ ___ ___    ╰─╮     ╭─╯    ___ ___ ___ ___ ___ ___│
            // │___ ___ ___ ___ ___ ___ ___  ╰─╮ ╭─╯  ___ ___ ___ ___ ___ ___ ___│
            // |___ ___ ___ ╭─╮ ___ ___ ___ ___│ │___ ___ ___ ___ ╭─╮ ___ ___ ___│
            // ╰────────────╯ ╰────────────────╯ ╰────────────────╯ ╰────────────╯
            display-name = "Leader Layer";
            bindings = <
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR &none &none &none &none &none &kp C_MUTE
                &none &none &none &none &none &bootloader &none &none &none &none &none &none
                &none &none &none &ext_power EP_OFF &ext_power EP_ON &sys_reset &none &none &none &none &none  &kp C_VOL_UP
                &out OUT_BLE &out OUT_USB &studio_unlock  &none &none &kp C_VOL_DN
                &none &none &none &none &to QWERTY_L &none &to QWERTY_L &none &none &to QWERTY_L
            >;
        };
    };
};

// / {
//     combos {
//         compatible = "zmk,combos";
//         combo_esc {
//             timeout-ms = <50>;
//             key-positions = <0 1>;
//             bindings = <&kp ESC>;
//         };
//     };
// };
